<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709703709963-rpcf1go7np37713spp74bfdqfv69n7q2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709703709963-rpcf1go7np37713spp74bfdqfv69n7q2</string>
	<key>API_KEY</key>
	<string>AIzaSyC_GPY-f4x2KIDbeKS_ja7PfsiG-mIb_yY</string>
	<key>GCM_SENDER_ID</key>
	<string>709703709963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dynamicLink</string>
	<key>PROJECT_ID</key>
	<string>testdynamiclink-9e428</string>
	<key>STORAGE_BUCKET</key>
	<string>testdynamiclink-9e428.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709703709963:ios:0ae462ec2236a613e81e0e</string>
</dict>
</plist>